.CodePlayground {
  text-align: center;
  position: relative;
  overflow: auto;
  background-color: #f9f9f9;
  border:1px solid black;
  &__iframe, &__editor {
    text-align: left;
    padding: 10px;
    margin: 10px 0;
  }
  &__iframe {
    position: relative;
    iframe {
      position: relative;
      max-width: 100%;
      background: white;
      border: none;
    }
  }
}
