.CodePlayground {
  text-align: center;
  position: relative;
  overflow: auto;
  &__iframe, &__editor {
    text-align: left;
    padding: 10px;
    margin: 10px 0;
  }
  &__iframe {
    border-left: 2px solid #e8e8e8;
    position: relative;
    height: 100%;
    iframe {
      background: white;
      left: 0;
      top: 60px;
      height: 93%;
      border: none;
      position: absolute;
    }
  }

  .cm-comment { color: #969896; }
  .cm-keyword { line-height: 20px; font-weight: bold; color: #069; }
  .cm-string { color: #c30; }
  .cm-builtin { line-height: 1em; font-weight: bold; color: #0086b3; }
  .cm-special { line-height: 1em; font-weight: bold; color: #63a35c; }
  .cm-variable { color: #4f9fcf; }
  .cm-number, .cm-s-neat span.cm-atom { color: #3a3; }
  .cm-meta { color: #555; }
  .cm-link { color: #3a3; }
  .cm-tag { color: #2f6f9f; }
  .cm-atom	{ color: #0086b3; }
  .cm-operator { color: #a71d5d; }
  .cm-attribute { color: #795da3; }

  .CodeMirror {
    color: #515151;
    height: auto;
    padding: 20px;
    border-radius: 6px;
  }

  .CodeMirror, .cm-s-neat .CodeMirror-activeline-background { background: #f9f9f9; }
  .cm-s-neat .CodeMirror-matchingbracket { outline:1px solid grey; color:black !important; }

  .CodeMirror pre {
    font-family: Menlo, Monaco, "Courier New", monospace;
    font-size: 14px;
    line-height: 1.4;
  }
}

