html, * {
  box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  min-width: 0 !important;
}

a, a:visited {
  color: #272b33;
}

body {
  color: #272b33;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.anchor {
  padding-top: 45px;
}

.container-fluid, .container {
  padding: 0;
  overflow: hidden;
  min-width: 0;
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  max-width: 100%;
}

.container {
  max-width: 970px;
}

.intro {
  padding-top: 45px;
  overflow: auto;
  font-family: Raleway;
  text-align: center;
  color: white;
  background-color: #28a1db;
  > * {
    margin: 10px;
  }
}

.TopNav {
  text-align: right;
  .A__label, .TopNav__margin {
    vertical-align: middle;
  }
}

.TopNav__line {
  display: none;
}

.Header {
  border-bottom: 2px solid;
  padding-top: 8px;
  padding-bottom: 8px;
  position: fixed;
  background-color: white;
  left: 0;
  right: 0;
  z-index: 7;
}

